* {
    margin: 0 auto;
}

.navbar {
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
}

.log-img {
    display: flex;
    align-items: center;
}

.sub-img {
    font-size: 20px;
    padding-top: 40px;
}

.log-img img {
    width: 150px;
}

.log {
    display: flex;
    align-items: center;
}

.log img {
    width: 30px;
}

.log-box a{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    text-decoration: none;
}

.nav-information {
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: red;
}

